<div>
    <h5> Restaurant Name: <%= restaurant.name %></h5>
</div>
<div>
    <h5> Location: <%= restaurant.location %></h5>
</div>
<div>
    <h5> Cuisine Types: <% restaurant.cuisine.forEach( cuisine => { %>
        <li>
            <%= cuisine %>
        </li>
        <% })%>
    </h5>
</div>
<div>
    <h6> Owner: <%= restaurant.owner %></h6>
</div>